body{
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    background-color: hsl(212, 45%, 89%);
    color: black;
}
.container{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qr{
    max-width:21.7rem;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    padding: 0.95rem 1.1rem;
}
.qr img {
    width:100%;
    border-radius: 40px;
}
.qr .info {
    text-align: center;
    padding: 0 20px;
}
.qr .info .first{
    font-size: 26px;
    font-weight: bold;
}
.qr .info .last{
    font-size: 17px;
    font-weight: normal;
    color: #857c7c;
}
